Flask==2.0.1
matplotlib==3.4.2
nltk==3.6.2
pdfminer.six==20181108
pandas==1.2.4
python-dotenv==0.17.1
seaborn==0.11.1
spacy==3.0.6
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.0.0/en_core_web_md-3.0.0.tar.gz
wordcloud==1.8.1
Werkzeug==2.0.1